{{page-title "AddProduct"}}
<div class="ui attached segment">Ajout d'un produit</div>

<div class="ui attached black segment">
  <Input @value={{@model.name}} placeholder="Entrez le nom du produit"/>
</div>

<div class="ui attached black segment">
  <Input @value={{@model.price}} placeholder="Entrez le prix du produit"/>
</div>

<div class="ui attached black segment">
  <button {{action "save" @model}} class="btn btn-primary">Enregistrer</button>
  <LinkTo @route="sections.edit" @model={{@model.section.id}} class="btn btn-secondary">Annuler</LinkTo>
</div>
{{outlet}}