{{page-title "Board"}}
<h2>Orders</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>
<button class="ui gray button" {{ action "section" }}>Sections</button>
{{outlet}}