{{page-title "Ex2"}}
<h1>Services</h1>

<div class="alert alert-info">
  <span>Choisissez les éléments à inclure</span>
  <p>{{plural @model.countActive 'Aucun service sélectionné' 'service sélectionné' 'services sélectionnés'}}</p>
</div>

<ul class="list-group">
{{#each @model.services as |service|}}
  <li class="list-group-item {{if service.active 'active' ''}}" {{action "toggleActive" service}}>{{service.name}} {{format-currency service.price}}</li>
{{/each}}
</ul>

<div class="total">
  Total: <span class="ng-binding">{{@model.sumActive}}</span>
</div>

<button class="btn btn-primary" {{action "togglePromo"}}>Promotion</button>

{{outlet}}